<h4>Request for Item review </h4>
<h5>Read before posting</h5>
<p class ="small">1. Post an "item" for review.  An <strong>Item</strong> could be a product, service, private company, public institutions, public officials, etc <br>
	2. Approval takes a few hours/same day and your item is posted at the top of the list, ensure you have more than 5 review points.<br>
	3. Click on the item copy the link, share it on facebook and whatsApp groups with a simple message,<i>"please review this for me" </i> <br>
	4. Why share? The <b>best reviews </b>usually come from our <b>friends</b> because we can trust their word </p>

<%= render 'form', request: @request %>

<%= link_to 'Back', root_url %>
