<h3>About Bubewa</h3>
<p>

Bubewa.Com is a ratings and review forum where consumers share their experiences from products used, services rendered from professionals and businesses as well as evaluate leadership provided by officials in the Kenyan Government.</p>

<p>Reviews on Bubewa.Com are geared towards ensuring that the Consumers and the general public get value for their money by making more informed choices by the rates and reviews posted.</p>

<p>Joining Bubewa.Com is free and open to all. All you have to do is sign up with your email. 

</p>
