 <h4>How it works for you in 3 steps... Summary </h4>

    <h4>Step 1: Earn User Points</h4>
   <p class ="small"> You start by reviewing products to earn user points (Minimum 5 reviews). User points enable you to post a product or service to be reviewed by the community.<%= link_to 'Start here with the lastest item listed', root_url, class: "btn btn-link" %> </p>


     <h4>Step 2: Request Reviews </h4>

    <p class ="small"> You get a sharable link to your item, share it with your friends on facebook and whatsApp groups and watch the reviews stream in.</p>


   <h4>Step 3: Decide!</h4>

  <p class ="small"> Now you can confidently make a decision if to spend your money or not on your purchase. Upvote useful reviews and flag those that need more information to earn more points. </p>


<p><%= link_to 'Click to Request Reviews on an Item', new_listing_path, class: "btn btn-info" %></p>
<p class ="small">Have enough points and you cant request a review? <i> <%= link_to 'click here', new_request_path, class: "btn-link" %></i></p>

<h4>How it works : Detailed</h4>
<p>
Bubewa has three main features 1. Listing (item) 2. Reviews and 3. upvotes </p>

<h4>item Listings</h4>
Users request items to be listed to be added for review, an item could be an instituation i.e hospital, a service i.e Internet service, a product i.e arimis or an individual i.e a governor.</p>

<p> User has to earn review points by also reviewing other products and services to be able to request for an item to be reviewed, we believe in karma,<i> do unto others as you would like them to do unto you </i></p>

<p>Once the item is approved, its published, users share the link to the published item and invite their own friends to review, best user reviews are from friends and experts</p>

<p>Once an item has recieved more than 2 reviews, it is permanent, it cannot be deleted from the systems unless under extreemly special circumstances</p>

<h4>Rating and Reviews</h4>

<p>Each item has ratings and reviews, ratings are stars from 1 - 5 and a review comment is expected from the user, the review should be objective and as factual as possible. Trolls and offensive comments are discouraged by the community, this is done by upvoting useful reviews and flaggin useless reviews.</p>

<p> The flag feature serves two purposes, one is to request for more information, two is to alert the admin of the need to look at the review for moderation</p>

<h4>Votes</h4>

<p> Votes enable the users to moderate each other and ensure the reviews are high quality and useful.</p>

<p>Each review posted by users is subject to a <strong>community upvote or flag</strong>, reviews that recieve upvotes are considered to be useful to the other users in helping them make a decision if to acquire the said services or not, reviews that received flags (negative) need more information and if none is provided by the reviewer then they are eventually automatically deleted from the system.</p>

<p>Users who's reviews recieve a lot of upvotes are considered influencers and acquire verified badges after posting a certain number of userful reviews and gettting a certain number of upvotes, different badges carry different weights ie 1 upvote could be worth 5 votes from a high level badge.</p>

<p>Users who receive a lot of negative downvotes on their reviews are considered trolls or guns for hire and after acquiring a certain number of downvotes on their reviews they are flagged and automatically deleted and banned from the system for 60 days. Avoid being a troll. </p>

<p>Additional Features</p>

<h4>Status Categorisation</h4>

<p>We have four status for products and services being reviewed<strong> 1. Red 2. Orange 3. and Blue 4. Green</strong></p>

<ul>

<li><p> <strong>Red (Dangerous, deal with them at your own risk) </strong>- When a product gets an average review of below 2.0 points</p></li>


<li><p><strong>Orange (Be warned, be cautious and stay woke)</strong> - When a product gets an average review of above 2.0 points but below 2.5 points</p></li>


<li><p><strong>Blue (Safe to buy from and engage)</strong> - When a product gets an average review of above 2.5 points but below 3.5 points</p></li>


<li><p><strong>Green (Amazing Services) </strong>- When a product gets an average review of above 3.5 points</p></li>


</ul>

<p> want to get intouc - email questions@bubewa.com </p>

