<h3>How it works</h3>
<p>
Bubewa has three main features 1. Listing 2. Reviews and 3. upvotes </p>

<h4>Listings</h4>
Users request listings to be added for review, a listing could be an instituation i.e hospital, a service i.e Internet service, a product i.e arimis or an individual i.e a governor.</p>

<p>Once the listing is approved, its published and users can go ahead and provide their ratings and reviews. </p>

<h4>Rating and Reviews</h4>

<p>Each listing has ratings and reviews, ratings are stars from 1 - 5 and a review comment is expected from the user, the review should be objective and as factual as possible. Trolls and insults are discouraged by the community, this is done by upvoting useful reviews and downvoting useless reviews.</p>

<h4>Votes</h4>

<p> Votes enable the users to moderate each other and ensure the reviews are high quality and useful.</p>

<p>Each review posted by users is subject to a <strong>community upvote or downvote</strong>, reviews that recieve upvotes are considered to be useful to the other users in helping them make a decision if to acquire the said services or not, reviews that received downvotes (negative) are considered useless and are eventually automatically deleted from the system.</p>

<p>Users who's reviews recieve a lot of upvotes are considered influencers and acquire verified badges after posting a certain number of userful reviews and gettting a certain number of upvotes, their upvotes also carry more weight ie 1 upvote could be worth 5 votes of a none influencer.</p>

<p>Users who receive a lot of negative downvotes on their reviews are considered trolls or guns for hire and after acquiring a certain number of downvotes on their reviews they are flagged and automatically deleted and banned from the system for 60 days. Avoid being a troll. </p>

<p>Additional Features</p>

<h4>Status Categorisation</h4>

<p>We have four status for products and services being reviewed<strong> 1. Red 2. Orange 3. and Blue 4. Green</strong></p>

<ul>

<li><p> <strong>Red (Dangerous, deal with them at your own risk) </strong>- When a product gets an average review of below 2.0 points</p></li>


<li><p><strong>Orange (Be warned, be cautious and stay woke)</strong> - When a product gets an average review of above 2.0 points but below 2.5 points</p></li>


<li><p><strong>Blue (Safe to buy from and engage)</strong> - When a product gets an average review of above 2.5 points but below 3.5 points</p></li>


<li><p><strong>Green (Amazing Services) </strong>- When a product gets an average review of above 3.5 points</p></li>


</ul>


