@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.heading-block {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {

    color: #1a1a1a;
    text-transform: capitalize;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    line-height: 1.2;
}

.avgscore {
font-size: 50px;
font-weight: bold;
line-height: 1.2;
color: #1ad;
text-shadow: 0 1px 3px rgba(255,255,255,0.5);
}

.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 250px;
padding: 5px;
margin: 5px;
list-style: none;
font-size: 12px;
text-align: centre;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
background-clip: padding-box;
}

.color1 {
    color: #1696e7;
}


.badge {
    font-family: Roboto Condensed;
    display: inline-block;
    min-width: 10px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #f05050;
    border-radius: 10px;
}

.glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: red;
}


.dropdown>a>.label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
}

.dropdown>a>.label {
    top: 10px;
}



.heading-block .sub-heading {
    display: block;
    text-align: center;
    margin: 18px auto 18px auto;
    color: #585858;
    max-width: 750px;
    line-height: 28px;
    text-transform: none;
    font-weight: 300;
    padding: 16px 0px;
    position: relative;
}

.heading-block .sub-heading .line {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    height: 6px;
    width: 90%;
    background-color: #f2f2f2;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}
.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.navbar-brand {
    float: left;
    padding: 3px 30px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

kbd {
  background-color: #EC9F00;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.thumbnail {
  height: 420px;

}

.footer{

  padding-right: 20px;
  text-size: 10px;
}

.header-search-addon {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
