    
	<div class ="footer">


         <% if user_signed_in? && current_user.admin? %> 
           users <%= User.count %>  | 
           reviews <%= Review.count %>  | 
           listing<%= Listing.count %> 
            <% end %> 
	<!-- <a href="/pages/guidelines">Guidelines</a> |
	<a href="/pages/privacy">Privacy Policy</a> | --> <p class="small text-right"> email:
	ask@bubewa.com | <a href="/pages/tos">Terms of Service</a> | 
	 
	<a> Copyright @bubewa </a></p>

	</div>